.day {
  background-color: white;
  color: black;
}

.night {
  background-color: black;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
}

.form-nd-switch {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.h3-hr {
  display: inline-flexbox;
  justify-content: center;
  align-content: center;
  align-items: center;
}

h3 {
  display: inline-block;
  text-align: left;
}
hr {
  display: inline-block;
  width: 80%;
  margin-left: 0.5rem;
}
h4,
h5,
.result-list,
p {
  text-align: left;
}

.serif {
  font-family: "PT Serif", serif;
}

.san-serif {
  font-family: "Italiana", sans-serif;
}

.monospace {
  font-family: "Inconsolata", monospace;
}
